### 네이버 연관 검색어 수집
- 정적(static) 웹페이지 데이터 수집 
- BeautifulSoup을 이용하여 HTML 문자열 데이터 parsing

#### 1. 웹페이지 분석 : URL

In [52]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

#### 2. request(URL) > response : str(html)

In [63]:
query= '삼성전자'
url = f'https://search.naver.com/search.naver?query={query}'

In [64]:
response = requests.get(url)
response

In [65]:
response.text[:300]

'<!doctype html> <html lang="ko"><head> <meta charset="utf-8"> <meta name="referrer" content="always">  <meta name="format-detection" content="telephone=no,address=no,email=no"> <meta property="og:title" content="삼성전자 : 네이버 통합검색"/> <meta property="og:image" content="https://ssl.pstatic.net/sstatic/se'

#### 3. str(html) > bs object

In [66]:
dom = BeautifulSoup(response.text, 'html.parser')

#### 4. bs object > .select(css-selector), .select_one(css-selector) > str(text)

In [67]:
# select() : element 여러개 선택
# select_one() : element 한개 선택

In [68]:
selector = '#nx_footer_related_keywords > div > div.related_srch > ul > li'
elements = dom.select(selector)

In [69]:
len(elements), elements[0]

(10,
 <li class="item"> <a class="keyword" href="?where=nexearch&amp;ssc=tab.nx.all&amp;query=%EC%82%BC%EC%84%B1%EC%A0%84%EC%9E%90%EC%A3%BC%EA%B0%80&amp;sm=tab_she&amp;qdt=0" onclick="return goOtherCR(this, 'a=rsk_btm*q.list1&amp;r=1&amp;u=' + urlencode(this.href))"> <div class="tit">삼성전자주가</div> </a> </li>)

In [84]:
elements[0].text.strip()

'삼성전자주가'

In [80]:
keywords = [element.text.strip() for element in elements]

#### 5. str(text) > DataFrame

In [81]:
df = pd.DataFrame(keywords)

In [82]:
df

            0
0      삼성전자주가
1      삼성전자주식
2    삼성전자 배당금
3      삼성전자채용
4    삼성전자주식가격
5     삼성전자서비스
6  오늘 삼성전자 주가
7    삼성전자주가지수
8   삼성전자서비스센타
9    삼성 전자레인지