# 데이터프레임 복습

# 1.환경준비

## (1) 라이브러리 불러오기

In [ ]:
import numpy as np
import pandas as pd

## (2) 데이터 로딩

### 1) titanic
* url :  'https://raw.githubusercontent.com/DA4BAM/dataset/master/titanic_simple.csv'

**[titanic_simple 데이터 셋 정보]**

- PassengerId : 승객번호
- Survived : 생존여부(1:생존, 0:사망)
- Pclass : 객실등급(1:1등급, 2:2등급, 3:3등급)
- Name : 승객이름
- Sex : 성별(male, female)
- Age : 나이
- Fare : 운임($)
- Embarked : 승선지역(Southampton, Cherbourg, Queenstown)

In [ ]:
path = 'https://raw.githubusercontent.com/DA4BAM/dataset/master/titanic_simple.csv'
titanic = pd.read_csv(path)
titanic.head()

### 2) New York Air Quality

* url : https://raw.githubusercontent.com/DA4BAM/dataset/master/air2.csv

**[airquality 데이터 셋 정보]**

- Ozone: 오존 농도  
- Solar.R: 태양복사량
- Wind: 풍속
- Temp: 기온
- Date : 연,월,일

In [ ]:
path = 'https://raw.githubusercontent.com/DA4BAM/dataset/master/air2.csv'
air = pd.read_csv(path)
air.head()

# 2.데이터프레임 정보 조회하기

* 두 데이터프레임에 대해서 다음의 정보를 조회해 봅시다.

### (1) 상위 5개 행 조회

### (2) 행과 열의 수

### (3) 칼럼 정보

### (4) 칼럼 이름만 리스트에 담아 조회

### (5) 데이터프레임 각 열 들의 기초통계량 조회

### (6) 데이터프레임에 NaN이 존재하는지 확인

# 3.데이터프레임 조건 조회(.loc)

* 다음 질문에 맞는 조회를 수행하시오.

### (1) [titanic] 객실 등급(Pclass) 1등급, 나이(Age) 10살 이하 탑승객 조회

### (2) [titanic] 객실 등급(Pclass)별 탑승객 수

### (3) [titanic] 성별(Sex)이 남자인 탑승객과 여자인 탑승객의 나이를 각각 저장하시오.

### (4) [titanic] 나이(Age)에 NaN이 아닌 탑승객을 조회하시오.

### (5) [air quality] 오존 농도 10~20 사이의 데이터를 조회하시오.

### (6) [air quality] 날짜(Date) 1973-05-01, 1973-06-01, 1973-07-01 , 1973-08-01 을 조회하시오.

# 4.데이터프레임 값 변경

### (1) [titanic] 승선지역(Embarked)을 변경하시오.(.map)
* Southamton --> S
* Cherbourg --> C
* Queenstown --> Q

### (2) [titanic] 운임(Fare)을 다음과 같이 변경하시오.(pd.cut)
*  <= 30 ==> 'L'
*  <= 100 ==> 'M'
* 100 <   ==> 'H'

### (3) [titanic] 성별(Sex)을 다음과 같이 변경하시오.(np.where)
* female ==> 0
* male ==> 1