<center><img src='https://raw.githubusercontent.com/Jangrae/img/master/title.png' width=500/></center>

<center><img src='https://raw.githubusercontent.com/Jangrae/img/master/practice.png' width=300/></center>

# 실습 #1: print 함수

1) 숫자 123456을 출력하세요.

In [3]:
a = 123456
a

123456

2) 숫자 123, 456을 각각의 print 함수로 출력하세요.

In [5]:
b1 = 123
b2 = 456
print(b1)
print(b2)

123
456

3) 숫자 123, 456을 하나의 print 함수로 출력하세요.

In [6]:
print(b1, b2)

123 456

4) 문자열 '파이썬을 배웁시다.', '누구든 할 수 있습니다.'를 각각의 print 함수로 출력하세요.

In [7]:
str1 = '파이썬을 배웁시다'
str2 = '누구든 할 수 있습니다'
print(str1)
print(str2)

파이썬을 배웁시다
누구든 할 수 있습니다

5) 문자열 '파이썬을 배웁시다.',  '누구든 할 수 있습니다.'를 하나의 print 함수로 출력하세요.

In [13]:
print(str1 + str2)

파이썬을 배웁시다누구든 할 수 있습니다

6) 숫자 123, 문자열 '오늘은', 문자열 '12월20일 입니다.'를 각각의 print 함수로 출력하세요.

In [10]:
c = 123
str3 = '문자열 12월20일 입니다'
print(c)
print(str3)

123
문자열 12월20일 입니다

7) 숫자 123, 문자열 '오늘은', 문자열 '12월20일 입니다.'를 하나의 print 함수로 출력하세요.

In [12]:
print(c, str3)

123 문자열 12월20일 입니다

# 실습 #2: 숫자 다루기

1) 두 수 125, 5를 더하고, 빼고, 곱하고, 나눠 보세요.

In [14]:
su1 = 125
su2 = 5

add = su1 + su2
sub = su1 - su2
mul = su1 * su2
div = su1 / su2

print('더하기 :', add)
print('빼기 :', sub)
print('곱하기 :', mul)
print('나누기 :', div)

더하기 : 130
빼기 : 120
곱하기 : 625
나누기 : 25.0

2) 178을 13으로 나눴을 때 몫을 구하세요.

In [18]:
d1 = 178
d2 = 13
mok1 = d1 // 13
print('몫 :', mok1)

몫 : 13

3) 3854를 11로 나눴을 때 몫을 구하세요.

In [19]:
d3 = 3854
d4 = 11
mok2 = d3 // d4
print('몫 :', mok2)

몫 : 350

4) 178을 13으로 나눴을 때 나머지를 구하세요.

In [21]:
nam1 = d1 % d2
print('나머지 :', nam1)

나머지 : 9

5) 3854를 11로 나눴을 때 나머지를 구하세요.

In [22]:
nam2 = d3 % d4
print('나머지 :', nam2)

나머지 : 4

6) 563421이 3의 배수인지 확인해 보세요.

In [28]:
ba1 = 563421
ba2 = 3
if ba1 % ba2 == 0:
    print(str(ba1) + "은", str(ba2)+"의 배수 입니다")
else:
    print(str(ba1) + "은", str(ba2)+"의 배수 아닙니다")

563421은 3의 배수 입니다

7) 2의 10제곱을 구하세요.

In [29]:
je1 = 2 ** 10
print(je1)

1024

8) 6의 -3제곱을 구하시오.

In [30]:
je2 = 6 ** -3
print(je2)

0.004629629629629629

9) 652가 87보다 큰 지를 비교 연산자로 확인하세요.

In [31]:
bi1 = 625 > 87
print(bi1)

True

10) 31과 31.0이 같은 지를 비교 연산자로 확인하세요.

In [32]:
bi2 = 31 == 31.0
print(bi2)

True

11.24와 24.0이 다른 지를 비교 연산자로 확인하세요.

In [33]:
bi3 = 24 != 24.0
print(bi3)

False

# 실습 #3: 변수 다루기

1) 변수 v1에 48, 변수 v2에 '홍길동'을 저장하고 각각 출력하세요.

In [34]:
v1 = 48
v2 = '홍길동'
print(v1)
print(v2)

48
홍길동

2) 변수 a, b에 임의의 숫자를 각각 저장하고 a와 b를 곱하여 출력하세요.

In [37]:
a = 10
b = 20
print(a*b)

200

3) 변수 a, b에 임의의 숫자를 각각 저장하고 변수 c에 a와 b의 합, 변수 d에 a와 b의 곱을 저장하여 크기를 비교하세요.

In [46]:
q1 = 10
q2 = 15
c = a + b
d = a * b
print(c > d, c < d, c == b)

False True False

4) 변수 g에 1을 저장하고 g에 1을 더해서 다시 g에 대입하세요.

In [39]:
g = 1
g+=1
print(g)

2

5) 변수 h에 2를 저장하고 h에 2를 곱해서 다시 h에 대입하세요.

In [40]:
h = 2
h*=2
print(h)

4

6) 변수 i에 6을 저장하고 i의 2제곱을 다시 i에 대입하세요.

In [41]:
i = 6
i**=2
print(i)

36

7) [심화] 홍길동의 과목별 점수는 아래와 같습니다.
- 국어: 96점, 수학: 72점, 영어: 88점
- 변수 kor, math, eng에 각 과목 점수를 저장한 뒤,
- 변수 avg에 변수를 이용한 연산으로 계산한 평균 점수를 저장하여
- 문자열 '홍길동의 평균 점수는'과 avg를 하나의 print 함수로 출력하세요.
- 평균 = (전체 자료의 합) / (전체 자료의 수)

In [45]:
kor = 96
math = 72
eng = 88
avg = (kor + math + eng) / 3
print("홍길동의 평균 점수는",round(avg,2))

홍길동의 평균 점수는 85.33