# **토익 진단평가 데이터 다듬기**
# 단계1 : 데이터 전처리
 * 이번 시간에는 파이썬을 활용한 AI모델링에서 전처리에 대해 실습해보겠습니다.
 * 전처리란 데이터 분석을 수행하기 전에 데이터를 적절한 형태로 가공하는 과정을 말합니다. 
 * 머신러닝과 AI모델링에서 60~70% 차지하는 부분이 바로 전처리 파트입니다.
 * 굉장히 시간과 노력이 많이 투입되며, 어려운 부분일 수 있습니다.
 * 데이터의 이상치나 결측치를 제거하거나, 변수를 수치형으로 변환하거나, 표준화나 정규화를 적용하는 등의 작업이 있습니다.
 * 데이터가 깨끗이 정리되지 않으면 머신러닝/AI 성능을 장담할 수 없습니다.
 * 데이터 전처리에 심혈을 기울여주시기 바라며, 이론보다 실습이 더 많은 시간과 노력이 투자되어야 합니다.

## 0.미션 확인

* 개요
    * 응시할 토익점수를 예측해주는 모델을 생성하기 위한 데이터를 전처리하려고 합니다.
    * 이를 위해 주어진 데이터는 응시자별 3회차씩의 토익점수와 당시 학습방식 등의 정보 입니다.
    * 관련 토익점수 및 학습정보 데이터를 분석하여 미니프로젝트 1차 이후에 예측 모델을 개발하여 
      토익 응시생들에게 도움이 되는 솔루션을 개발하려고 합니다.
* 전처리 단계 목표
    * 3회차(3행)의 데이터를 하나의 분석단위(1행)로 만들기 위해 응시자별 데이터를 집계합니다.
    * 응시자는 하나의 ID로 구분됩니다.
    * 응시회차는 seq로 구분됩니다. 모든 응시자가 1,2,3 의 회차 값을 갖고 있습니다.
* 학습목차
    0) 미션 내용 확인
    1) 환경설정 : 라이브러리 불러오기 및 파일 읽어오기
    2) 데이터프레임 탐색
    3) 데이터 전처리 수행 (불필요 컬럼 삭제, Null 처리, 중복값 제거, 한 행으로 합치기 등)
    4) 결과 저장하기

## 1.환경설정

### (1) 라이브러리 불러오기

* **세부 요구사항**
    - 기본적으로 필요한 라이브러리를 import 하도록 코드를 작성해주세요.
    - 필요하다고 판단되는 라이브러리를 추가하겠습니다.

In [1]:
#[문제] pandas, numpy 라이브러리를 임포트하세요.

In [2]:
import pandas as pd
import numpy as np

### (2) 데이터 불러오기
* 읽어올 데이터 파일
    * 학습 데이터 : data04.xls
    * 엑셀 파일이므로 pd.read_excel 함수를 이용해서 불러 옵니다.
* 다음과 같이 데이터를 불러와주세요.
    * 주피터랩 실행
        * 제공된 압축파일 '미프 1차_토익'을 다운받아 압축을 해제합니다.
        * anaconda의 root directory(C:\Users\<ID>) 에 '미프 1차_토익' 폴더를 만들고, 복사합니다.
        * '1.전처리_교육생용'과 '2.데이터_탐색_교육생용' 실습 파일을 열어주세요.

#### 1) 주피터랩 실행
* '미프 1차_토익' 폴더에 필요한 파일들을 넣고, 본 파일을 열거나, 별도 경로를 지정해서 데이터를 읽어올 수 있습니다.

In [3]:
#[문제] '미프 1차_토익' 폴더에서 본 파일인 '1.전처리_교육생용'을 열어주세요.

#### 2) 데이터 읽어오기

In [4]:
#[문제] data04.xlsx 파일을 Pandas read_excel 함수를 이용하여 읽고 data변수에 저장하세요.

In [5]:
# 읽어들일 파일명 : data04.xlsx 
# Pandas read_excel 함수 활용
# 결과 : data 저장
data = pd.read_excel('data04.xlsx')
file = 'data04.xlsx'

In [6]:
#[문제] 읽어온 데이터프레임을 확인하고, 상위 10개 행만 보여주세요.

### 2. 데이터프레임 탐색

* **세부 요구사항**
    - data의 형태, 기초통계량, 정보 등을 확인합니다.
    - 특히 .info() 를 통해서 각 변수별 데이터타입이 적절한지 확인합니다.
    - 다양한 함수로 데이터를 탐색해주세요.

In [7]:
#[문제] 전체 데이터의 행,열 개수를 확인하기

In [8]:
#[문제] 전체 데이터의 하위 5개 행 확인하기

In [9]:
#[문제] 전체 데이터의 모든 변수 확인하기

In [10]:
#[문제] 전체 데이터 정보 확인

In [11]:
#[문제] 각 열별 Null 데이터 값의 개수를 확인해주세요.

In [12]:
#[문제] 데이터의 통계정보를 확인해주세요.

## 3.데이터 전처리 수행

*  **세부 요구사항**
    * 여기부터는 스스로 실습해봅시다.
    * ID를 기준으로 3회차(3행) 데이터를 1개의 분석단위(1행)으로 만들어야 합니다.
        * (1) 개인정보 데이터와 각 회차별 학습정보 데이터 분리
        * (2) 개인정보의 중복값 제거
        * (3) 각 회차별 정보를 한 행으로 만들기 
        * (4) (2)와 (3)을 합치기 (merge, ID 기준)
        * (5) 레이블 만들기
    * 전처리 결과를 다시 한번 정리해봅니다.

### (1) 컬럼삭제 및 값변경, 개인정보와 각 회차별 학습정보 분리

In [13]:
#[문제] data의 컬럼별 데이터 타입을 출력하세요.

In [14]:
#[문제] data에서 'Student ID' 컬럼을 삭제하세요.

In [15]:
# axis=1 옵션, 컬럼단위 삭제(drop함수)
# inplace=True 옵션, data 데이터프레임에 저장

In [16]:
#[문제] 14개컬럼에서 13개컬럼으로 줄어든 것을 확인해주세요.

In [17]:
#[문제] data 데이터프레임에서 '기출문제 공부 횟수' 컬럼의 Null 값을 '' --> '0'으로 변경하세요.

In [18]:
# fillna 함수
# 대상컬럼 : '기출문제 공부 횟수'

In [19]:
#[문제] '기출문제 공부 횟수' 컬럼의 값 0으로 변경 확인

In [20]:
#[문제] 개인정보 데이터와 토익시험 학습정보 데이터를 2개의 데이터 프레임인 df1, df2으로 각각 분리해주세요.

In [21]:
# 개인정보 데이터는 features1, 토익시험 학습정보 데이터는 features2로 분리해주세요.
# df1(개인정보 데이터)에 포함될 features : 'ID', 'Gender', 'Birth_Year'
# df2(토익시험 학습정보 데이터)에 포함될 features : 'ID','Seq', 'LC_Score', 'RC_Score', 'Total Score', '학습목표', '학습방법', '강의 학습 교재 유형', '학습빈도', '기출문제 공부 횟수', '취약분야 인지 여부', '토익 모의테스트 횟수'

### (2) 개인정보의 중복값 제거

In [22]:
#[문제] 개인정보 데이터 'df1'의 중복된 행을 제거해주세요.

In [23]:
# drop_duplicates 함수 활용
# 제거된 결과는 원본 데이터프레임 'df1'에 바로 적용

### (3) 각 회차별 정보를 한 행으로 만들기
* 우리는 3차시(Seq == 3)를 기준으로 1,2차시 정보를 집계하여 한 행으로 만들어 봅니다.

In [24]:
#[문제] 토익시험 학습정보 데이터 'df2'에서 각 ID별 차시(Seq)가 3인 행을 선택하여 새로운 데이터프레임 'temp'에 할당해 주세요.

In [25]:
# 3차시 데이터 : ['Seq'] == 3
# loc 함수 활용 : 특정 행, 특정 행과 열, 그리고 조건에 따라 필터링된 행을 선택하는 함수

In [26]:
#[문제] temp 데이터프레임의 열이름 중 'LC_Score', 'RC_Score', 'Total Score'를 각각 '3st_LC_Score', '3st_RC_Score', '3st_Total_Score'로 변경하고 확인해주세요.

In [27]:
# rename 함수 활용, temp에 저장
# rename 함수 : 데이터프레임의 행 인덱스 또는 열 이름을 변경하는 데 사용

In [28]:
#[문제] 토익시험 학습정보 데이터 'df2'의  각 ID별 차시(Seq)가 1인 행을 선택하여 새로운 데이터프레임 'temp1'에 할당해 주세요.

In [29]:
# 1차시 데이터 : ['Seq'] == 1
# loc 함수 활용 : 특정 행, 특정 행과 열, 그리고 조건에 따라 필터링된 행을 선택하는 함수

In [30]:
#[문제] 'temp1'에는 df2['ID','LC_Score','RC_Score','Total Score'] 컬럼만 불러와 주세요.

In [31]:
#[문제] temp1 데이터프레임의 열이름 중 'LC_Score', 'RC_Score', 'Total Score'를 각각 '1st_LC_Score', '1st_RC_Score', '1st_Total_Score'로 변경해주세요.

In [32]:
# rename 함수 활용, temp1에 저장

In [33]:
#[문제] 토익시험 학습정보 데이터 'df2'에서 각 ID별 차시(Seq)가 2인 행을 선택하여 새로운 데이터프레임 'temp2'에 할당해 주세요.

In [34]:
# 2차시 데이터 : ['Seq'] == 2
# loc 함수 활용 : 특정 행, 특정 행과 열, 그리고 조건에 따라 필터링된 행을 선택

In [35]:
#[문제] 'temp2'에는 df2['ID','LC_Score','RC_Score','Total Score'] 컬럼만 불러와 주세요.

In [36]:
#[문제] temp2 데이터프레임의 열이름 중 'LC_Score', 'RC_Score', 'Total Score'를 각각 '2st_LC_Score', '2st_RC_Score', '2st_Total_Score'로 변경해주세요.

In [37]:
# rename 함수 활용, temp2에 저장 및 확인

In [38]:
#[문제] 3회차 토익시험 정보가 모두 포함된 'temp' 데이터 + 1차시 토익시험점수 'temp1' 데이터을 합쳐서 'score_merged_data1'에 할당하세요.

In [39]:
# 'temp'와 'temp1'을 'ID' 열 기준 조인하여 'score_merged_data1'에 저장
# merge 함수 할용, how='outer'

In [40]:
#[문제] 'score_merged_data1'과 'temp2' 데이터를 합쳐서 'score_merged_data2'에 할당하세요.

In [41]:
# 'score_merged_data1'과 'temp2'을 'ID' 열을 기준으로 조인하여 'score_merged_data2'에 저장
# merge 함수 할용, how='outer'

In [42]:
#[문제] score_merged_data2 데이터를 확인하세요.

### (4) (2)개인정보 데이터와 (3)토익시험 학습정보 합치기

In [43]:
#[문제] 개인정보 데이터 'df1'과 토익시험 학습정보 'score_merged_data2'를 ID 기준으로 합치고 'baseline_data'에 할당하세요.

In [44]:
# merge 함수, 합쳐진 데이터는 'baseline_data'로 저장

### (5) 레이블 만들기

* **세부 요구사항**
    - 시험 2회차와 3회차의 Score 차이를 구하여 분석하고 싶습니다.
    - 이를 계산해서 'Score_diff_total'이라는 변수로 추가해봅시다.
    - 레이블을 만드는 것은 데이터를 의미있는 방식으로 구분하거나 식별하는 것을 말합니다.

In [45]:
#[문제] baseline_data 데이터프레임에서 2차시와 3차시의 시험점수 차이를 'Score_diff_total'이라는 변수로 'baseline_data'에 추가해주세요.

In [46]:
# baseline_data의 'Score_diff_total' 변수 = '3st_Total_Score'에서 '2st_Total_Score'를 마이너스한 값

In [47]:
#[문제] baseline_data 확인해주세요.

## 4.데이터셋 저장하기

* **세부 요구사항**
    * to_csv를 이용하여 전처리된 데이터셋을 저장하세요.
    * 저장할 파일의 확장자는 .csv 입니다.

In [48]:
#[문제] 전처리된 데이터프레임 'baseline_data'를 CSV 파일로 저장합니다.

In [49]:
# 파일 : 'data04_baseline.csv'
# to_csv 함수 활용, index=False

In [50]:
#[문제] 제대로 저장이 잘 되었는지 'data04_baseline.csv' 파일을 불러와 확인해보세요.

In [51]:
## 고생 정말 많으셨습니다!!
## 실습시간이 남으신 분은 '중급'용 파일에 도전해보세요.