# **토익진단평가 데이터 다듬기2**
# 단계2 : 데이터프레임 탐색

## 0.미션

* 전처리 단계에서 생성한 데이터에 대한 데이터프레임 탐색을 해봅시다.
* 개별 변수 및 개별 변수들 간의 관계에 대해 생각해보고, 분석해봅니다.

## 1.환경설정

### (1) 폰트 설치

In [44]:
# 아래 라이브러리를 수행해주세요.

In [45]:
!pip install matplotlib
!pip install --upgrade matplotlib

import matplotlib.pyplot as plt

Requirement already satisfied: matplotlib in c:\users\user\anaconda3\lib\site-packages (3.8.3)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\user\anaconda3\lib\site-packages (from matplotlib) (1.0.5)
Requirement already satisfied: cycler>=0.10 in c:\users\user\anaconda3\lib\site-packages (from matplotlib) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\user\anaconda3\lib\site-packages (from matplotlib) (4.25.0)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\user\anaconda3\lib\site-packages (from matplotlib) (1.4.4)
Requirement already satisfied: numpy<2,>=1.21 in c:\users\user\anaconda3\lib\site-packages (from matplotlib) (1.24.3)
Requirement already satisfied: packaging>=20.0 in c:\users\user\anaconda3\lib\site-packages (from matplotlib) (23.1)
Requirement already satisfied: pillow>=8 in c:\users\user\anaconda3\lib\site-packages (from matplotlib) (10.0.1)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\user\anaconda3\lib\site-packages (from matplotlib) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\user\anaconda3\lib\site-packages (from matplotlib) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\user\anaconda3\lib\site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)
Requirement already satisfied: matplotlib in c:\users\user\anaconda3\lib\site-packages (3.8.3)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\user\anaconda3\lib\site-packages (from matplotlib) (1.0.5)
Requirement already satisfied: cycler>=0.10 in c:\users\user\anaconda3\lib\site-packages (from matplotlib) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\user\anaconda3\lib\site-packages (from matplotlib) (4.25.0)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\user\anaconda3\lib\site-packages (from matplotlib) (1.4.4)
Requirement already satisfied: numpy<2,>=1.21 in c:\users\user\anaconda3\lib\site-packages (from matplotlib) (1.24.3)
Requirement already satisfied: packaging>=20.0 in c:\users\user\anaconda3\lib\site-packages (from matplotlib) (23.1)
Requirement already satisfied: pillow>=8 in c:\users\user\anaconda3\lib\site-packages (from matplotlib) (10.0.1)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\user\anaconda3\lib\site-packages (from matplotlib) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\user\anaconda3\lib\site-packages (from matplotlib) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\user\anaconda3\lib\site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)

### (2) 라이브러리 불러오기

* **세부 요구사항**
    - 기본적으로 필요한 라이브러리를 import 하도록 코드를 작성하였습니다.
    - pandas, numpy, matplotlib 라이브러리를 실행해주세요.

In [46]:
#[문제] pandas 라이브러리를 임포트하세요.

In [47]:
import pandas as pd

In [48]:
#[문제] numpy 라이브러리를 임포트하세요.

In [49]:
import numpy as np

In [50]:
#[문제] matplotlib 라이브러리를 임포트하세요.

In [51]:
import matplotlib.pyplot as plt

In [52]:
#차트에 한글폰트 설정을 위해 아래 라이브러리를 실행해주세요.

In [53]:
plt.rc('font', family='Malgun Gothic')

### (3) 데이터 불러오기
* 1.데이터 전처리 단계에서 앞 시간에 생성한 데이터를 로딩합니다.
    * data04_baseline.csv
* 다음과 같이 데이터를 저장하여 불러와주세요.
    * 주피터랩 수행
        * 제공된 압축파일 '미프 1차_토익'을 다운받아 압축을 푼다.
        * anaconda의 root directory(보통 C:\Users\<ID> 에 '미프 1차_토익' 폴더를 만들고, 복사해 넣습니다.
        * '2.데이터_탐색_교육생용' 실습파일을 열어주세요.

#### 1) 주피터랩 수행

In [54]:
# '미프 1차_토익' 폴더에 필요한 파일들을 넣고, 본 파일을 열고 데이터를 읽어옵니다.

In [55]:
#[문제] '미프 1차_토익' 폴더에서 본 파일 '2.데이터_탐색_교육생용' 실습파일을 열어주세요.

#### 2) 저장된 데이터 읽어오기
* [1.전처리] 단계에서 저장된 .csv 파일인 'data04_baseline.csv' 파일을 불러옵니다.
* 불러 온 후에는 shape를 확인해 봅시다.

In [56]:
#[문제] data04_baseline.csv 파일을 pd.read_csv 함수를 이용하여 읽고 data변수에 할당하세요.

In [57]:
# 읽어들일 파일명 : data04_baseline.csv
# Pandas read_csv 함수 활용
# 결과 : data 저장

In [58]:
data = pd.read_csv('data04_baseline_1.csv')

In [59]:
#[문제] 읽어온 데이터프레임 data 확인해주세요.

In [60]:
data

,Unnamed: 0,ID,Gender_x,Birth_Year_x,Seq,Gender_y,Birth_Year_y,3st_LC_Score,3st_RC_Score,3st_Total_Score,...,기출문제 공부 횟수,취약분야 인지 여부,토익 모의테스트 횟수,1st_LC_Score,1st_RC_Score,1st_Total_Score,2st_LC_Score,2st_RC_Score,2st_Total_Score,Score_diff_total
0,0,1,M,1973,3,M,1973,345,336,681,...,7.0,알고 있음,10,181,173,354,227,213,440,241
1,1,2,F,1982,3,F,1982,380,368,748,...,4.0,알고 있음,14,330,290,620,354,339,693,55
2,2,3,F,1995,3,F,1995,416,382,798,...,4.0,알고 있음,4,367,309,676,396,365,761,37
3,3,4,M,1987,3,M,1987,495,397,892,...,9.0,알고 있음,8,470,285,755,495,341,836,56
4,4,5,M,1994,3,M,1994,398,437,835,...,6.0,알고 있음,4,273,372,645,314,426,740,95
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,495,496,M,2006,3,M,2006,364,336,700,...,10.0,알고 있음,13,347,315,662,349,321,670,30
496,496,497,F,1988,3,F,1988,187,252,439,...,9.0,알고 있음,17,112,250,362,120,251,371,68
497,497,498,M,2006,3,M,2006,255,167,422,...,0.0,알고 있음,4,252,150,402,254,158,412,10
498,498,499,F,1990,3,F,1990,422,370,792,...,4.0,알고 있음,7,371,324,695,378,326,704,88
499,499,500,M,1984,3,M,1984,235,226,461,...,7.0,알고 있음,15,169,188,357,172,190,362,99

In [61]:
#[문제] data 데이터프레임의 열과 행을 확인해주세요.

In [62]:
data.shape

(500, 24)

In [63]:
#[문제] data 데이터프레임의 자료구조(Row, Column, Not-null, type)을 파악하세요.

In [64]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 24 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        500 non-null    int64
 1   ID                500 non-null    int64
 2   Gender_x          500 non-null    object
 3   Birth_Year_x      500 non-null    int64
 4   Seq               500 non-null    int64
 5   Gender_y          500 non-null    object
 6   Birth_Year_y      500 non-null    int64
 7   3st_LC_Score      500 non-null    int64
 8   3st_RC_Score      500 non-null    int64
 9   3st_Total_Score   500 non-null    int64
 10  학습목표              500 non-null    object
 11  학습방법              500 non-null    object
 12  강의 학습 교재 유형       500 non-null    object
 13  학습빈도              500 non-null    object
 14  기출문제 공부 횟수        500 non-null    float64
 15  취약분야 인지 여부        500 non-null    object
 16  토익 모의테스트 횟수       500 non-null    int64
 17  1st_LC_Score      500 non-null    int64
 18  1st_RC_Score      500 non-null    int64
 19  1st_Total_Score   500 non-null    int64
 20  2st_LC_Score      500 non-null    int64
 21  2st_RC_Score      500 non-null    int64
 22  2st_Total_Score   500 non-null    int64
 23  Score_diff_total  500 non-null    int64
dtypes: float64(1), int64(16), object(7)
memory usage: 93.9+ KB

In [65]:
#[문제] 인덱스를 확인해보세요.

In [66]:
data.index

RangeIndex(start=0, stop=500, step=1)

In [67]:
#[문제] 컬럼명을 확인해보세요.

In [68]:
data.columns

Index(['Unnamed: 0', 'ID', 'Gender_x', 'Birth_Year_x', 'Seq', 'Gender_y',
       'Birth_Year_y', '3st_LC_Score', '3st_RC_Score', '3st_Total_Score',
       '학습목표', '학습방법', '강의 학습 교재 유형', '학습빈도', '기출문제 공부 횟수', '취약분야 인지 여부',
       '토익 모의테스트 횟수', '1st_LC_Score', '1st_RC_Score', '1st_Total_Score',
       '2st_LC_Score', '2st_RC_Score', '2st_Total_Score', 'Score_diff_total'],
      dtype='object')

In [69]:
#[문제] 상단 5행을 확인해보세요

In [70]:
data.head()

,Unnamed: 0,ID,Gender_x,Birth_Year_x,Seq,Gender_y,Birth_Year_y,3st_LC_Score,3st_RC_Score,3st_Total_Score,...,기출문제 공부 횟수,취약분야 인지 여부,토익 모의테스트 횟수,1st_LC_Score,1st_RC_Score,1st_Total_Score,2st_LC_Score,2st_RC_Score,2st_Total_Score,Score_diff_total
0,0,1,M,1973,3,M,1973,345,336,681,...,7.0,알고 있음,10,181,173,354,227,213,440,241
1,1,2,F,1982,3,F,1982,380,368,748,...,4.0,알고 있음,14,330,290,620,354,339,693,55
2,2,3,F,1995,3,F,1995,416,382,798,...,4.0,알고 있음,4,367,309,676,396,365,761,37
3,3,4,M,1987,3,M,1987,495,397,892,...,9.0,알고 있음,8,470,285,755,495,341,836,56
4,4,5,M,1994,3,M,1994,398,437,835,...,6.0,알고 있음,4,273,372,645,314,426,740,95

## 2.데이터프레임 탐색 : 개별 변수 분석하기

* **세부 요구사항**
    * 기본 분석
        * 기초 통계량, NaN 값 확인 등 기본 분석을 수행합니다.
    * 주요 변수들의 분포를 살펴보기
        * 숫자형 변수 : 기초통계량 조회 (평균, 중앙값, 표준편차 등)
        * 범주형 변수 : 특정한 카테고리나 범주로 구성된 변수인 범주별 빈도수, 바 플롯 (예시 : 성별, 혈액형, 지역 등 그룹화할 수 있는 변수)
        * 시각화나 통계분석에서 범주형 변수의 그룹 간의 차이나 관계를 분석할 때 중요한 역할을 합니다.

### (1) 기본 분석

* **세부 요구사항**
    - 데이터프레임 전체에 대한 기초통계량을 구합니다.
    - NaN을 확인해봅니다.
      * NaN이 존재한다면 Numpy 모듈에서 isna() 함수를 통해 판별하고 적절하게 조치해줍니다.

In [71]:
#[문제] 'data'의 각 열별 누락된 값(Nan, none) 개수를 확인해보세요.

In [72]:
#isna() 함수 활용
data.isna().sum()

Unnamed: 0          0
ID                  0
Gender_x            0
Birth_Year_x        0
Seq                 0
Gender_y            0
Birth_Year_y        0
3st_LC_Score        0
3st_RC_Score        0
3st_Total_Score     0
학습목표                0
학습방법                0
강의 학습 교재 유형         0
학습빈도                0
기출문제 공부 횟수          0
취약분야 인지 여부          0
토익 모의테스트 횟수         0
1st_LC_Score        0
1st_RC_Score        0
1st_Total_Score     0
2st_LC_Score        0
2st_RC_Score        0
2st_Total_Score     0
Score_diff_total    0
dtype: int64

In [73]:
#[문제] 'data'의 각 열 통계량을 요약하여 출력하세요.

In [74]:
# describe 함수 활용
data.describe()

,Unnamed: 0,ID,Birth_Year_x,Seq,Birth_Year_y,3st_LC_Score,3st_RC_Score,3st_Total_Score,기출문제 공부 횟수,토익 모의테스트 횟수,1st_LC_Score,1st_RC_Score,1st_Total_Score,2st_LC_Score,2st_RC_Score,2st_Total_Score,Score_diff_total
count,500.000000,500.000000,500.000000,500.0,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000,500.00000,500.000000,500.000000,500.000000,500.000000
mean,249.500000,250.500000,1992.906000,3.0,1992.906000,368.240000,369.518000,737.798000,5.092000,9.460000,313.878000,312.822000,626.70000,338.120000,338.154000,676.284000,61.514000
std,144.481833,144.481833,8.224381,0.0,8.224381,82.135393,81.665858,155.901584,2.789103,4.955554,85.555611,86.574966,148.57171,84.169535,83.854382,153.178624,39.739051
min,0.000000,1.000000,1973.000000,3.0,1973.000000,141.000000,135.000000,280.000000,0.000000,1.000000,105.000000,84.000000,250.00000,120.000000,129.000000,260.000000,0.000000
25%,124.750000,125.750000,1986.750000,3.0,1986.750000,295.000000,295.000000,591.750000,3.000000,5.000000,259.750000,250.000000,519.00000,279.000000,281.500000,557.750000,30.000000
50%,249.500000,250.500000,1992.500000,3.0,1992.500000,372.500000,375.000000,760.500000,5.000000,8.000000,308.000000,311.500000,642.00000,333.500000,335.000000,691.000000,63.000000
75%,374.250000,375.250000,2000.000000,3.0,2000.000000,434.250000,437.250000,860.250000,7.000000,13.250000,369.250000,377.250000,735.00000,395.250000,400.000000,790.500000,83.000000
max,499.000000,500.000000,2007.000000,3.0,2007.000000,495.000000,495.000000,990.000000,10.000000,20.000000,495.000000,491.000000,970.00000,495.000000,495.000000,990.000000,281.000000

In [75]:
#[문제] 위에서 출력한 통계량 데이터프레임의 행과 열을 서로 바꾸어 출력하세요.

In [80]:
data = data.drop('Birth_Year_y', axis=1)

KeyError: "['Birth_Year_y'] not found in axis"

In [42]:
data.rename(columns={'Birth_Year_y':'Birth_Year'}, inplace=True)

AttributeError: 'NoneType' object has no attribute 'rename'

In [43]:
#'T'는 데이터프레임의 전치(Transpose)를 의미함
# descibe 함수 활용
data.describe().T

AttributeError: 'NoneType' object has no attribute 'describe'

In [ ]:
#[문제] Gender 컬럼의 값 별 개수를 확인해주세요. (Gender M : 남자, F : 여자)

In [ ]:
# value_counts 함수 활용

In [ ]:
#[문제] 'Gender' 컬럼의 ['M', 'F'] --> [1,2]로 변경해해보세요.

In [ ]:
# replace 함수 활용

In [ ]:
#[문제] Gender 컬럼의 값 별 개수를 다시 확인해주세요.

In [ ]:
#[문제] 'Gender' 컬럼 타입을 object에서 int로 변경해보세요.

In [ ]:
#astype 함수 활용

In [ ]:
#[문제] data 데이터 프레임에서 Null 데이터가 있는지 확인해주세요.

### (2) 주요 변수의 분포를 살펴보기

* **세부 요구사항**
    - 주요 변수들의 분포를 살펴보자.
        * 대상 : 최종 차수 점수 변화, 생년월일, 학습목표, 학습방법, 강의 학습 교재 유형
        * 도구 : 기초통계량, bar차트를 통한 데이터 분포 파악
    - 전체 현황과 각 변수별 현황을 비교해보고 결과를 저장하자.

#### 1) 열 데이터 탐색 및 시각화 : 최종 차수 점수 변화(Score_diff_total)

In [ ]:
#[문제] 변수 Sdt에 문자열 'Score_diff_total'을 할당 하세요.

In [ ]:
#[문제] 'data' 데이터프레임의 'Score_diff_total'열에 대한 기술 통계 정보를 데이터 프레임의 형태로 출력해주세요.

In [ ]:
# describe() 함수 활용

In [ ]:
#[문제] 위에서 추출한 데이터의 'Score_diff_total'에 대해 행과 열을 변환하여 기술 통계 정보를 출력해주세요.

In [ ]:
# describe().T 함수 활용

#### 2) 열 추가 : Bitrh_Year
* 출생연도로 부터 나이 변수를 추출해 봅시다.

In [ ]:
#[문제] 변수 BY에 문자열 'Birth_Year'을 할당하세요.

In [ ]:
#[문제] 'data' 데이터프레임의 'Birth_Year'열에 대한 기술 통계 정보를 출력해주세요.
#'Birth_Year'에 대해 행과 열을 변환하여 기술 통계 정보를 출력해주세요.

In [ ]:
# describe().T 함수 활용

In [ ]:
#[문제] 'data' 데이터프레임의 'Birth_Year' 컬럼의 연도별 개수를 Bar 차트로 그리세요.

In [ ]:
# DataFrame value_counts()와 plot() 함수 활용
# 대상 컬럼 : 'Birth_Year'
# plot 함수의 인자 : kind='bar'

#### 3) 고유값 확인 : 컬럼 출력

In [ ]:
#[문제] data 데이터프레임에서 object 컬럼에 대해서만 추출해서 보여주세요.

In [ ]:
# select_dtypes() 함수 활용

In [ ]:
#[문제] 데이터 타입이 Object 형태인 컬럼의 컬럼명만 추출해서 출력해 보세요.

In [ ]:
# columns.values 활용

#### 4) 고유값 확인 및 시각화 : 학습목표

In [ ]:
#[문제] 변수 '학습목표'의 값들의 빈도수를 계산하여 출력하세요.

In [ ]:
# value_counts 함수 활용

In [ ]:
#[문제] data 데이터프레임의 전체 열과 행 개수를 각각 출력해 보세요.

In [ ]:
#열의 개수

In [ ]:
#행의 개수

In [ ]:
#[문제] 변수 '학습목표'의 값들의 빈도수를 전체 데이터의 개수로 나누어서 해당 값들이 전체 데이터에서 차지하는 비율을 구하세요.

In [ ]:
#[문제] '학습목표' 컬럼에 대한 Bar 차트를 확인해주세요.

In [ ]:
# DataFrame value_counts()와 plot() 함수 활용
# 대상 컬럼 : '학습목표'
# plot 함수의 인자 : kind='bar'

In [ ]:
#[문제] 'data' 전체 데이터프레임의 숫자형 컬럼, number 컬럼에 대해 검색해주세요.

#### 5) 고유값 확인 및 시각화 : 강의 학습 교재 유형

In [ ]:
#[문제] 변수 '강의 학습 교재 유형'의 값들의 빈도수, 비율을 계산해서 출력해주세요.

In [ ]:
# 빈도수 출력

In [ ]:
# 비율 출력

In [ ]:
#[문제] '취약분야 인지 여부' 문자열의 값을 '알고 있음' --> '1', '알고 있지 않음' -->'0'으로 변경하세요.

## 데이터 저장

* **세부 요구사항**
    * to_csv를 이용하여 전처리된 데이터셋을 저장하세요.
    * 저장할 파일의 확장자는 .csv 입니다.

In [ ]:
#[문제] 전처리된 데이터프레임 'data04_featured'를 CSV 파일로 저장합니다.

In [ ]:
# 파일 : 'data04_featured.csv'
# to_csv 함수 활용

In [ ]:
#[문제] 파일이 잘 저장되었는지, 다시 한번 불러오고 확인해보세요.

In [ ]:
## 고생 정말 많으셨습니다!!
## 실습시간이 남으신 분은 '중급'용 파일에 도전해보세요.