## Web Crawling
- 웹 페이지에서 데이터를 수집하는 방법에 대해서 학습

### 웹크롤링 방법

#### 웹페이지의 종류
- 정적인 페이지 : 웹 브라우져에 화면이 한번 뜨면 이벤트에 의한 화면의 변경이 없는 페이지
- 동적인 페이지 : 웹 브라우져에 화면이 뜨고 이벤트가 발생하면 서버에서 데이터를 가져와 화면을 변경하는 페이지

#### requests 이용
- 받아오는 문자열에 따라 두가지 방법으로 구분
    - json 문자열로 받아서 파싱하는 방법 : 주로 동적 페이지 크롤링할때 사용
    - html 문자열로 받아서 파싱하는 방법 : 주로 정적 페이지 크롤링할때 사용
        
#### selenium 이용
- 브라우져를 직접 열어서 데이터를 받는 방법

#### 크롤링 방법에 따른 속도
- requests json > requests html > selenium

### Crawling Naver Stock Data
- 네이버 증권 사이트에서 주가 데이터 수집
- 수집할 데이터 : 일별 kospi, kosdaq 주가, 일별 환율(exchange rate) 데이터
- 데이터 수집 절차
    - 웹서비스 분석 : url
    - 서버에 데이터 요청 : request(url) > response : json(str)
    - 서버에서 받은 데이터 파싱(데이터 형태를 변경) : json(str) > list, dict > DataFrame

In [2]:
import warnings
warnings.filterwarnings('ignore') # 경고 문구 안뜨게 해주는 설정
import requests
import pandas as pd

#### 1. 웹서비스 분석 : url
- pc 웹페이지가 복잡하면 mobile 웹페이지에서 수집

In [4]:
page_size, page = 30, 1
url = f'https://m.stock.naver.com/api/index/KOSPI/price?pageSize={page_size}&page={page}'
url

'https://m.stock.naver.com/api/index/KOSPI/price?pageSize=30&page=1'

#### 2. 서버에 데이터 요청 : request(url) > response : json(str)
- response의 status code가 200이 나오는지 확인
- 403이나 500이 나오면 request가 잘못되거나 web server에서 수집이 안되도록 설정이 된것임
    - header 설정 또는 selenium 사용
- 200이 나오더라도 response 안에 있는 내용을 확인 > 확인하는 방법 : response.text

In [5]:
response =requests.get(url)
response

In [6]:
response.text[:500]

'[{"localTradedAt":"2024-03-18","closePrice":"2,685.84","compareToPreviousClosePrice":"19.00","compareToPreviousPrice":{"code":"2","text":"상승","name":"RISING"},"fluctuationsRatio":"0.71","openPrice":"2,678.52","highPrice":"2,688.07","lowPrice":"2,665.28"},{"localTradedAt":"2024-03-15","closePrice":"2,666.84","compareToPreviousClosePrice":"-51.92","compareToPreviousPrice":{"code":"5","text":"하락","name":"FALLING"},"fluctuationsRatio":"-1.91","openPrice":"2,701.91","highPrice":"2,705.59","lowPrice":'

#### 3. 서버에서 받은 데이터 파싱(데이터 형태를 변경) : json(str) > list, dict > DataFrame

In [9]:
data = response.json() #리스트로 바꿔줌
type(data)

list

In [13]:
cols = ['localTradedAt', 'closePrice']
df = pd.DataFrame(data)[cols]
df.head()

  localTradedAt closePrice
0    2024-03-18   2,685.84
1    2024-03-15   2,666.84
2    2024-03-14   2,718.76
3    2024-03-13   2,693.57
4    2024-03-12   2,681.81

#### 4. 함수로 만들기

In [41]:
def stock_price(code='KOSPI', page_size=60, page=1):
    # 1. URL
    url = f'https://m.stock.naver.com/api/index/{code}/price?pageSize={page_size}&page={page}'
    # 2. request(url)
    response = requests.get(url)
    # 3. parsing json
    data = response.json()
    # 4. 데이터프레임 
    cols = ['localTradedAt', 'closePrice']
    df = pd.DataFrame(data)[cols]
    #pd.DataFrame(response.json())[['localTradedAt', 'closePrice']] # 한줄로 줄일 수 있다
    
    return df

In [42]:
stock_price().head()

  localTradedAt closePrice
0    2024-03-18   2,685.84
1    2024-03-15   2,666.84
2    2024-03-14   2,718.76
3    2024-03-13   2,693.57
4    2024-03-12   2,681.81

In [43]:
dfs = []
for page in range(1, 10):
    df = stock_price(page=page)
    dfs.append(df)

df = pd.concat(dfs, ignore_index=True)
df

    localTradedAt closePrice
0      2024-03-18   2,685.84
1      2024-03-15   2,666.84
2      2024-03-14   2,718.76
3      2024-03-13   2,693.57
4      2024-03-12   2,681.81
..            ...        ...
535    2022-01-12   2,972.48
536    2022-01-11   2,927.38
537    2022-01-10   2,926.72
538    2022-01-07   2,954.89
539    2022-01-06   2,920.53

[540 rows x 2 columns]

In [44]:
df = stock_price(code='KOSDAQ')
df

   localTradedAt closePrice
0     2024-03-18     894.48
1     2024-03-15     880.46
2     2024-03-14     887.52
3     2024-03-13     889.93
4     2024-03-12     889.71
5     2024-03-11     875.93
6     2024-03-08     873.18
7     2024-03-07     863.37
8     2024-03-06     870.67
9     2024-03-05     866.37
10    2024-03-04     872.97
11    2024-02-29     862.96
12    2024-02-28     863.39
13    2024-02-27     853.75
14    2024-02-26     867.40
15    2024-02-23     868.57
16    2024-02-22     870.11
17    2024-02-21     864.07
18    2024-02-20     866.17
19    2024-02-19     858.47
20    2024-02-16     857.60
21    2024-02-15     859.21
22    2024-02-14     853.30
23    2024-02-13     845.15
24    2024-02-08     826.58
25    2024-02-07     811.92
26    2024-02-06     807.03
27    2024-02-05     807.99
28    2024-02-02     814.77
29    2024-02-01     798.73
30    2024-01-31     799.24
31    2024-01-30     818.86
32    2024-01-29     819.14
33    2024-01-26     837.24
34    2024-01-25     823.74
35    2024-01-24     836.21
36    2024-01-23     840.11
37    2024-01-22     839.69
38    2024-01-19     842.67
39    2024-01-18     840.33
40    2024-01-17     833.05
41    2024-01-16     854.83
42    2024-01-15     859.71
43    2024-01-12     868.08
44    2024-01-11     882.53
45    2024-01-10     875.46
46    2024-01-09     884.64
47    2024-01-08     879.34
48    2024-01-05     878.33
49    2024-01-04     866.25
50    2024-01-03     871.57
51    2024-01-02     878.93
52    2023-12-28     866.57
53    2023-12-27     859.79
54    2023-12-26     848.34
55    2023-12-22     854.62
56    2023-12-21     859.44
57    2023-12-20     862.98
58    2023-12-19     858.30
59    2023-12-18     850.96

#### 5. 원달러 환율 데이터 수집 : 실습

#### 6. 시각화

In [ ]:
%matplotlib inline
%config InlineBackend.figure_formats = {'png', 'retina'}

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

#### 7. 데이터 스케일링
- min max scaling


- $z = \frac{x_i - min(x)}{max(x) - min(x)} (0 \leqq z \leqq 1)$


- latex syntax : `https://jjycjnmath.tistory.com/117`

In [ ]:
from sklearn.preprocessing import minmax_scale

#### 8. 상관관계 분석
- 피어슨 상관계수(Pearson Correlation Coefficient)
- 두 데이터 집합의 상관도를 분석할때 사용되는 지표
- 상관계수의 해석
    - -1에 가까울수록 서로 반대방향으로 움직임
    - 1에 가까울수록 서로 같은방향으로 움직임
    - 0에 가까울수록 두 데이터는 관계가 없음